@import url("reset.css");
.title {
	color: red;
}
.list .item {
	color: blue;
}
#section-1,
#section-2,
#section-3,
#section-4,
#section-5 {
	color: blueviolet;
}
#section-1 + p {
	color: chartreuse;
}
.reason .text {
	color: chocolate;
}
.occurrence .text {
	color: chocolate;
}
.everyday-life p {
	color: chartreuse;
}
.establishment * {
	color: green;
}
.prince > p {
	color: aqua;
}
h4 {
	color: darkgoldenrod;
}
.conclusions a {
	color: deeppink;
}
#section-5 ~ p {
	color: mediumvioletred;
}
[class*="button"] {
	color: brown;
}
