@import url("reset.css");
@import url("fonts.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,800);
body{
	font-family: Lato, sans-serif;
	
}
.header__container{
	max-width: 1422px;
	padding-inline: 15px;
	margin: 0 auto;
}
.footer__container {
	max-width: 1422px;
	padding-inline: 15px;
	margin: 0 auto;
}
/* Header */

.header__container {
	min-height: 164px;
	padding-block: 5px;
	display: flex;
	align-items: center;
	gap: 5rem;
	
}
.header__image-logo{
	width: 200px;
	max-width: none;
}
.header__search {
	flex-basis: 16.5rem;
}
.search-header {
	display: flex;
	
	border-bottom: 1px solid #7e7f7c;
}
.search-header__button {
	width: 15px;
	flex-shrink: 0;
	background: url(../img/icons/search.svg) left no-repeat;
}
.search-header__input {
	height: 43px;
	padding-inline: 0.9375rem;
}
.header__menu {
	flex-grow: 1;
}
.icon-menu {
	display: none;
}
.menu__list {
	display: flex;
	gap: 8px 44px;
	align-items: center;
	flex-wrap: wrap;
}
.menu__link,
.action-header__link {
	font-weight: 700;
	color: #2f302c;
	line-height: 1.25;
	font-size: 1rem;
}
.action-header {
	display: flex;
	gap: 2.75rem;
	
}
.action-header__link {
	padding-left: 1.375rem;
	/* Блочно-рядковий об'кт в середені  флекс-елемента має незрозумілу висоту, лікується наданням display: block;(Для себе підказка)*/
	display: block;
}

.action-header__link--love {
	background: url(../img/icons/vector1.svg) left center no-repeat;
}

.action-header__link--cart {
	background: url(../img/icons/vector2.svg) left center no-repeat;
}
@media (width <= 1422px) {
	.header__container {
		gap: 2.5rem;
		min-height: 7.5rem;
	}
	.menu__list,
	.action-header{
		gap: 8px 25px;
	}
	.menu__list{
		justify-content: center;
	}
}
@media (width <=1200px){
.header__search{
	flex-basis: 180px;
}
}
@media (width <= 992px) {
.header__container{
	min-height: 6.25rem;
	gap: 28px;
}
.header__logo{
	width: 2.3125rem;
	flex-shrink: 0;
	overflow: hidden;
}
.action-header,
.menu__list {
	gap: 8px 17px;
}
}
@media (width < 768px){
.header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: white;
	}
	.header__container{
		min-height: 4.375rem;
	}
	/* стилізація іконки */
	.icon-menu,
	.header__action,
	.header__logo,
	.header__search{
		position: relative;
		z-index: 3;
	}
	.icon-menu{
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after{
		content: "";
background-color: #2f302c;
height: 2px;
width: 30px;
position: absolute;
right: 0;
transition: all 0.3s;
				}
	.icon-menu::before{
		top: 0;
}
.icon-menu::after{
	bottom: 0;
}
	.icon-menu span{
top: 50%;
translate: 0 -50%;
	}
	.menu{
		/* position: fixed; обов'язкове */
		position: fixed;
		width: 100%;
		height: 100%;
		left: 100%;
		top: 0;
		background-color: #f6f6f6;
		z-index: 1;
		padding: 120px 15px 30px 15px;
		/* overflow: auto; обов'язкове для прокрутки меню при його частковому невміщенню */
		overflow: auto;
		transition: left 0.3s;
	}
	/* .menu::before покривало-фон меню щоб меню не наїжало на шапку*/
	.menu::before{
		content: "";
		background-color: white;
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		z-index: 2;
	}
	.menu__list{
		flex-direction: column;
		row-gap: 30px;
		
	}
	.menu__link{
		font-size: 28px;
	}
	.header__search{
		flex-grow: 1;
	}
		.action-header__link {
			width: 25px;
			aspect-ratio: 1;
			padding-left: 0;
			font-size: 0;
			background-size: contain;
		}
		/* перетворення іконки на хрестик та вивод меню */
		[data-menu-open] .icon-menu span{
width: 0;
		}
				[data-menu-open] .icon-menu::before{
					rotate: -45deg;
					translate: 0 -50%;
					top: 50%;
				}
								[data-menu-open] .icon-menu::after {
									rotate: 45deg;
									bottom: 50%;
									translate: 0 50%;
								}
		[data-menu-open] .menu,
		[data-menu-open] .menu::before{
			left: 0;
		}
}
@media (width < 480px){
	.header__container{
		gap: 15px;
	}
.header__logo{
	width: 28px;
}
.header__image-logo{
	width: 154px;
}
.action-header{
	gap: 8px 15px;
}
.search-header{
	border-radius: 5px;
	border: 1px solid #2f302c;
}
.search-header__button{
	display: none;
}
.search-header__input{
	padding-inline: 5px;
	height: 33px;
}
}
.action-header__link:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 10px;
}
.menu__link:hover{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 10px;
}
[class*="__input"]:hover::placeholder {
	color: black;
}
.search-header:hover{
	border-bottom: 1px solid #040404;
}

/* ---------------------------------- Hero ---------------------------------- */

.main{
	position: relative;
}
.main--margin{
	margin-bottom: 100px;
	/* background: url(../img/rectangle.webp) center no-repeat; */
	background: url(../img/rectangle.webp) no-repeat center / cover;
}
.hero__background{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	
}
.hero__content {
	max-width: 680px;
	padding: 114px 15px 110px 15px;
	margin-left: auto;
	padding-inline: 15px;
	position: relative;
	
}

.hero__title {
	font-weight: 700;
	line-height: 175%;
	font-size: clamp(0.875rem, 5vw, 1.25rem);
	color: #2f302c;
	margin-bottom: 1.25rem;
}

.hero__subtitle {
font-family: Montserrat, sans-serif;
	font-weight: 800;
	line-height: 6.25rem;
	font-size: clamp(48px, 8vw, 96px);
	color: #2f302c;
	text-transform: uppercase;
	margin-bottom: 2.25rem;
}
.hero__subtitle span{
text-transform: uppercase;
color: #2f302c;
font-family: Montserrat, sans-serif;
font-weight: 700;
font-size: clamp(48px, 8vw, 96px);
line-height: 1;

}

.hero__subtitle::after {
	content: "";
	display: block;
	width: 313px;
	height: 1px;
	background-color: #2f302c;
	margin-top: 1.9375rem;
}

.hero__subtitle-two {
	font-weight: 700;
	line-height: 175%;
	font-size: clamp(0.875rem, 4vw, 1.25rem);
	color: #2f302c;
	margin-bottom: 1.25rem;
}

.hero__content p{
font-weight: 500;
line-height: 125%;
font-size: clamp(0.75rem, 2.5vw, 1rem);
color: #7e7f7c;
}
@media (width <= 1100px){
.hero__content{
	padding: 90px 15px 90px 15px;
}
.hero__title{
	margin-bottom: 10px;
}
.hero__subtitle{
	margin-bottom: 26px;
}
.hero__subtitle::after{
	margin-top: 21px;
}
.hero__subtitle-two{
	margin-bottom: 10px;
}
.main--margin{
	margin-bottom: 50px;
}
}
@media (width <=950px){
	.hero__content{
		margin: 0 auto;
		text-align: center;
	}
		.hero__subtitle::after {
			margin-left: auto;
			margin-right: auto;
		}
}
@media (width <=768px){
.hero__content {
		padding: 45px 15px 45px 15px;
	}
		.main--margin {
			margin-bottom: 25px;
		}
				.hero__subtitle::after {
					margin-top: 11px;
				}
}

/* -------------------------footer----------------------------- */
.footer__info{
	display: flex;
		column-gap: 120px;
		row-gap: 20px;
		align-items: flex-start;
		padding: 112px 0 72px 0;
		border-bottom: 1px solid #7e7f7c;
		border-top: 1px solid #7e7f7c;
}
.info-footer {
	display: flex;
	column-gap: 120px;
	row-gap: 20px;
	align-items: flex-start;
	padding: 112px 0 72px 0;
	border-bottom: 1px solid #7e7f7c;
	border-top: 1px solid #7e7f7c;
}

.info-footer__service {
	flex-basis: 258px;
	
}

.info-footer__title {
	font-weight: 800;
	line-height: 1.75;
	font-size: clamp(16px, 2vw, 20px);
	color: #2f302c;
	margin-bottom: 28px;
}
.info-footer p{
	font-weight: 500;
	line-height: 1.25;
	font-size: clamp(12px, 1.5vw, 16px);
	color: #7e7f7c;
margin-bottom: 28px;
}
.info-footer p:last-of-type{
	margin-bottom: 0;
}
.info-footer__company {
	flex-basis: 258px;
}

.info-footer__help {
	flex-basis: 258px;
}

.info-footer__warranty {
	flex-basis: 258px;
}
@media (width <= 1422px){
	.info-footer{
		padding: 56px 0 36px 0;
		
	}
}
@media (width <= 1150px) {
	.info-footer {
		column-gap: 60px;

	}
}
@media (width <= 992px) {
	.info-footer {
		column-gap: 30px;
	}
	.info-footer p{
		margin-bottom: 16px;
	}
	.info-footer__title{
		margin-bottom: 16px;
	}
}
@media (width <= 826px) {
	.info-footer {
		column-gap: 30px;
	}
	.info-footer{
		column-gap: 15px;
	}
}
@media (width <= 780px){
[class*="info-footer__"]{
	flex-basis: 238px;
}
}
@media (width <= 550px) {
.info-footer{
	flex-wrap: wrap;
	justify-content: center;
	padding: 36px 0 26px 0;
}
[class*="info-footer__"]{
	flex-basis: 198px;
}
.info-footer p {
	margin-bottom: 10px;
}

.info-footer__title {
	margin-bottom: 10px;
}
}
.produced-footer {
	padding-block: 72px;
	
}
.produced-footer__text p{
	text-wrap: balance;
	text-align: center;
}
.produced-footer__info {
	font-weight: 500;
	color: #7e7f7c;
	font-size: 1rem;
	line-height: 1.25;
display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
}

.produced-footer__action {
	display: flex;
	align-items: center;
	gap: 34px;
}
.produced-footer__link{
	transition: all 0.3s;
}
.produced-footer__link:hover img{
	transform: scale(1.3);
}
@media (width <=1422px){
	.produced-footer{
padding-block: 36px;
	}
}
@media (width <=600px){
	.produced-footer__action{
		gap: 17px;
	}
				.produced-footer {
					padding-block: 20px;
				}
}
@media (width <=527px){
	.produced-footer__info{
		flex-wrap: wrap;
		justify-content: center;
	}
}