@import url("fonts.scss");
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
  position: relative;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

label {
  display: inline-block;
}

input,
textarea {
  width: 100%;
}

button {
  background-color: transparent;
}

button,
select,
option,
input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Lato", sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
}
body.loaded {
  opacity: 1;
}

.link--margin {
  font-size: 0.875rem;
  color: #000;
  text-align: center;
  display: block;
  margin-inline: auto;
  padding-block: 0.5625rem;
  padding-inline: 3.125rem;
  border: 1px solid #000;
  max-inline-size: 8.1875rem;
}

.main {
  background-color: brown;
}
.main__container {
  max-inline-size: 1422px;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {
  background-color: chocolate;
}

.footer {
  background-color: aqua;
  padding-block: 1.875rem;
  text-align: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.item {
  padding-block: 1rem;
  padding-inline: 3rem;
  color: gold;
  background-color: cadetblue;
  border: 0.125rem solid gray;
  border-radius: 0.9375rem;
  font-size: 1.5;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  max-inline-size: 12.5rem;
}

.item:not(:last-child) {
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
}

.item:hover {
  -webkit-box-shadow: 0 0 0.625rem 0 cadetblue;
          box-shadow: 0 0 0.625rem 0 cadetblue;
}

.item.active {
  background-color: crimson;
  -webkit-box-shadow: 0 0 0.9375rem 0 crimson;
          box-shadow: 0 0 0.9375rem 0 crimson;
}

.trusted {
  padding-block: 5.125rem;
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
}
@media (width < 51.25em) {
  .trusted {
    padding-block: 2.5625rem;
  }
}
.trusted__container {
  max-inline-size: 1422px;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}
.trusted__title {
  color: #2f302c;
  font-weight: 800;
  line-height: 1.25;
  font-size: clamp(1.25rem, 5vw, 2rem);
  text-align: center;
  text-transform: uppercase;
  -webkit-margin-after: 4.5rem;
          margin-block-end: 4.5rem;
}
@media (width < 51.25em) {
  .trusted__title {
    -webkit-margin-after: 2.25rem;
            margin-block-end: 2.25rem;
  }
}
.trusted__logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  gap: 4.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (width <= 88.75em) {
  .trusted__logos {
    gap: 2.125rem;
  }
}
@media (width < 78.125em) {
  .trusted__logos {
    gap: 20px;
  }
}
@media (width < 51.25em) {
  .trusted__logos {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.125rem;
  }
}
@media (width < 38.125em) {
  .trusted__logos {
    gap: 1.25rem;
  }
}
@media (width <= 22.81em) {
  .trusted__logos {
    gap: 10px;
  }
}
.trusted .logos__item {
  max-inline-size: 10.625rem;
  max-block-size: 10.625rem;
}
.trusted .logos__image {
  inline-size: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  font-family: "Playfair+Display," sans-serif;
}
.about__container {
  max-inline-size: 63.5rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}
.about__title {
  font-size: clamp(1.375rem, 5vw, 1.875rem);
  color: #000;
  text-align: center;
  -webkit-margin-after: 7.1875rem;
          margin-block-end: 7.1875rem;
  font-family: "Playfair Display," sans-serif;
}
@media (width <= 56.25em) {
  .about__title {
    -webkit-margin-after: 3.5625rem;
            margin-block-end: 3.5625rem;
  }
}
@media (width <= 40.755em) {
  .about__title {
    -webkit-margin-after: 1.6875rem;
            margin-block-end: 1.6875rem;
  }
}

.content-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-margin-after: 8.4375rem;
          margin-block-end: 8.4375rem;
}
@media (width <= 56.25em) {
  .content-about {
    -webkit-margin-after: 4.1875rem;
            margin-block-end: 4.1875rem;
  }
}
@media (width <= 40.75em) {
  .content-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
@media (width <= 40.75em) {
  .content-about {
    -webkit-margin-after: 2.3125rem;
            margin-block-end: 2.3125rem;
  }
}
.content-about__info {
  max-inline-size: 28.125rem;
}
@media (width <= 46.875em) {
  .content-about__info {
    max-inline-size: 350px;
  }
}
.content-about__info p:not(:last-child) {
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
}
@media (width <= 40.75em) {
  .content-about__info p:not(:last-child) {
    -webkit-margin-after: 1.0625rem;
            margin-block-end: 1.0625rem;
  }
}
.content-about__title {
  -webkit-margin-after: 2.1875rem;
          margin-block-end: 2.1875rem;
  font-size: clamp(1.125rem, 5vw, 1.875rem);
  color: #000;
  font-family: "Playfair Display," sans-serif;
}
.content-about__image {
  max-inline-size: 19.75rem;
}
.content-about__image img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 316/485;
  inline-size: 100%;
}

.link--margin {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link--margin:hover {
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 0 5px 5px rgb(155, 155, 155);
          box-shadow: 0 0 5px 5px rgb(155, 155, 155);
}

@media (width < 48em) {
  .header {
    position: sticky;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 10;
    background-color: #fff;
  }
}
.header__container {
  max-inline-size: 88.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
  min-block-size: 10.25rem;
  padding-block: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
}
@media (width <= 88.875em) {
  .header__container {
    gap: 2.5rem;
    min-height: 7.5rem;
  }
}
@media (width <= 62em) {
  .header__container {
    min-height: 6.25rem;
    gap: 1.75rem;
  }
}
@media (width < 48em) {
  .header__container {
    min-height: 4.375rem;
  }
}
@media (width < 30em) {
  .header__container {
    gap: 0.9375rem;
  }
}
@media (width <= 62em) {
  .header__logo {
    inline-size: 2.3125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    overflow: hidden;
  }
}
@media (width < 48em) {
  .header__logo {
    position: relative;
    z-index: 3;
  }
}
@media (width < 30em) {
  .header__logo {
    width: 1.75rem;
  }
}
.header__image-logo {
  inline-size: 12.5rem;
  max-inline-size: none;
}
@media (width < 30em) {
  .header__image-logo {
    inline-size: 9.625rem;
  }
}
.header__search {
  -ms-flex-preferred-size: 16.5rem;
      flex-basis: 16.5rem;
}
@media (width <= 75em) {
  .header__search {
    -ms-flex-preferred-size: 11.25rem;
        flex-basis: 11.25rem;
  }
}
@media (width < 48em) {
  .header__search {
    position: relative;
    z-index: 3;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (width < 30em) {
  .header__search {
    border-radius: 0.3125rem;
    border: 0.0625rem solid #2f302c;
  }
}
@media (width < 48em) {
  .header__action {
    position: relative;
    z-index: 3;
  }
}

.search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #7e7f7c;
}
.search-header:hover {
  border-bottom: 0.0625rem solid #040404;
}
.search-header__button {
  width: 0.9375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/svj/search.svg) left no-repeat;
}
@media (width < 30em) {
  .search-header__button {
    display: none;
  }
}
.search-header__input {
  block-size: 2.6875rem;
  padding-inline: 0.9375rem;
}
@media (width < 30em) {
  .search-header__input {
    padding-inline: 0.3125rem;
    block-size: 2.0625rem;
  }
}
.search-header__input:hover::-webkit-input-placeholder {
  color: #000;
}
.search-header__input:hover::-moz-placeholder {
  color: #000;
}
.search-header__input:hover:-ms-input-placeholder {
  color: #000;
}
.search-header__input:hover::-ms-input-placeholder {
  color: #000;
}
.search-header__input:hover::placeholder {
  color: #000;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (width < 48em) {
  .menu {
    position: fixed;
    inline-size: 100%;
    block-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    background-color: #f6f6f6;
    z-index: 1;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
}
@media (width < 48em) {
  .menu::before {
    content: "";
    background-color: #fff;
    position: fixed;
    inline-size: 100%;
    block-size: 4.375rem;
    inset-block-start: 0;
    inset-inline-start: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 2;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem 2.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (width <= 88.875em) {
  .menu__list {
    gap: 0.5rem 1.5625rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (width <= 62em) {
  .menu__list {
    gap: 0.5rem 1.0625rem;
  }
}
@media (width < 48em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }
}
.menu__link {
  font-weight: 700;
  color: #2f302c;
  line-height: 1.25;
  font-size: 1rem;
}
@media (width < 48em) {
  .menu__link {
    font-size: 1.75rem;
  }
}
.menu__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.625rem;
}

.action-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.75rem;
}
@media (width <= 88.875em) {
  .action-header {
    gap: 0.5rem 1.5625rem;
  }
}
@media (width <= 62em) {
  .action-header {
    gap: 0.5rem 1.0625rem;
  }
}
@media (width < 48em) {
  .action-header {
    position: relative;
    z-index: 3;
  }
}
@media (width < 30em) {
  .action-header {
    gap: 0.5rem 0.9375rem;
  }
}
.action-header__link {
  font-weight: 700;
  color: #2f302c;
  line-height: 1.25;
  font-size: 1rem;
  display: block;
  -webkit-padding-start: 1.375rem;
          padding-inline-start: 1.375rem;
}
@media (width < 48em) {
  .action-header__link {
    inline-size: 1.5625rem;
    aspect-ratio: 1;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    font-size: 0;
    background-size: contain;
  }
}
.action-header__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.625rem;
}
.action-header__link--love {
  background: url(../img/svj/vector1.svg) left center no-repeat;
}
.action-header__link--cart {
  background: url(../img/svj/vector2.svg) left center no-repeat;
}

.icon-menu {
  display: none;
}
@media (width < 48em) {
  .icon-menu {
    position: relative;
    z-index: 3;
    display: block;
    inline-size: 1.875rem;
    block-size: 1.125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

@media (width < 48em) {
  .icon-menu span {
    background-color: #2f302c;
    block-size: 0.125rem;
    inline-size: 1.875rem;
    position: absolute;
    inset-inline-end: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    inset-block-start: 50%;
    translate: 0 -50%;
  }
}
.icon-menu::before {
  content: "";
  background-color: #2f302c;
  block-size: 0.125rem;
  inline-size: 1.875rem;
  position: absolute;
  inset-inline-end: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  inset-block-start: 0;
}
.icon-menu::after {
  content: "";
  background-color: #2f302c;
  block-size: 0.125rem;
  inline-size: 1.875rem;
  position: absolute;
  inset-inline-end: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  inset-block-end: 0;
}

@media (width < 48em) {
  [data-menu-open] .icon-menu span {
    inline-size: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    translate: 0 -50%;
    inset-block-start: 50%;
  }
}

@media (width < 48em) {
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    translate: 0 50%;
    inset-block-start: 50%;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu {
    inset-inline-start: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu {
    inset-inline-start: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu {
    inset-inline-start: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu {
    inset-inline-start: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu {
    inset-inline-start: 0;
  }
}

@media (width < 48em) {
  [data-menu-open] .menu::before {
    inset-inline-start: 0;
  }
}