@import url("reset.css");
@import url("fonts.css");
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular);
body{
	font-family: "Playfair Display", serif;
	
}
:root{
	--colorWhite: #fff;
	--colorGray: darkgray;
	--colorBlack: #000;
	--colorBright: #a09f9f;
	--colorGray2: gray;
	--colorDarkgray: #2f2f2f;
}
.header{
	padding-block-start: 1.4375rem;
	padding-block-end: 1.4375rem;
	position: fixed;
	top: 0;
inline-size: 100%;
	z-index: 10;
	transition: all 0.3s ease;
}
.header.scrolled{
	background: rgba(0, 0, 0, 0.8);
		backdrop-filter: blur(10px);
}

.header__container {
	max-inline-size: 963px;
		padding-inline: 15px;
		margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 0.625rem;
}
.header__title {
	font-size: 2.25rem;
	text-transform: uppercase;
	color: var(--colorWhite);
	transition: all 0.3s;
}

.menu__list {
	display: flex;
	align-items: center;
	gap: 2rem;

}

.menu__item {
	font-size: 1rem;
		color: var(--colorWhite);
}
.menu__link:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
	color: var(--colorGray);
	text-decoration-color: var(--colorGray);
}
.menu__link {
	display: block;
	font-size: 0.75rem;
	color: var(--colorWhite);
	transition: all 0.3s;
}
.header__title:hover{
	color: var(--colorGray);
}
.icon-menu {
	display: none;
}
.hero {
	padding-block-start: 10.9375rem;
background: url(../img/home.webp.webp) no-repeat;
	inline-size: 100vw;
	block-size: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	block-size: 100vh;
}
.hero--margin{
	margin-block-end: 5.25rem;
}
.hero__container{
	max-inline-size: 60.1875rem;
	padding-inline: 0.9375rem;
	margin-inline: auto;
	

}
.hero__content{
	max-inline-size: 22.6875rem;
		margin-inline-start: auto;
		display: flex;
			flex-direction: column;
			justify-content: center;
}
.hero__title {
	font-size: clamp(1.75rem, 4vw, 2.9375rem);
	color: var(--colorWhite);
	margin-block-end: 0.51em;
	text-align: center;
	white-space: nowrap;
	
}

.hero  p{
	font-size: clamp(0.75rem, 2.5vw, 0.875rem);
	color: var(--colorWhite);
	margin-block-end: 5.642em;
	text-align: center;
}

.hero__link {
	font-size: clamp(0.625rem, 2.5vw, 0.8125rem);
	color: var(--colorWhite);
	border: 0.125rem solid var(--colorWhite);
	padding-inline: 0.8125rem;
	padding-block: 0.625rem;
	text-align: center;
	display: inline-block;
	margin-inline: auto;
	transition: all 0.3s;
}
.hero__link:hover{
color: var(--colorGray);
background-color: var(--colorBlack);
border-color: var(--colorGray);
}
@media (width <= 37.0625em){
	.menu__list{
		gap: 1rem;
	}
		.hero {
			margin-inline: auto;
		}
								.hero p {
									margin-block-end: 2.821em;
									
								}
}
@media (width < 31.625em){

.header__container {		
		align-items: center;
	}

.icon-menu,
.header__container,
	.header__logo {
		position: relative;
		z-index: 3;
	}

	.icon-menu {
		display: block;
		inline-size: 1.875rem;
		block-size: 1.125rem;
		flex-shrink: 0;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		background-color: var(--colorWhite);
		block-size: 0.125rem;
		inline-size: 1.875rem;
		position: absolute;
		inset-inline-end: 0;
		transition: all 0.3s;
	}

	.icon-menu::before {
		inset-block-start: 0;
	}

	.icon-menu::after {
		inset-block-end: 0;
	}

	.icon-menu span {
		inset-block-start: 50%;
		translate: 0 -50%;
	}

	.menu {
		/* position: fixed; обов'язкове */
		position: fixed;
		inline-size: 100%;
		block-size: 100%;
		block-size: 100vh;
		inset-inline-start: 100%;
		inset-block-start: 0;
		background-color: black;
		z-index: 1;
		padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
		/* overflow: auto; обов'язкове для прокрутки меню при його частковому невміщенню */
		overflow: auto;
		transition: left 0.3s;
		
	}

	/* .menu::before покривало-фон меню щоб меню не наїжало на шапку*/
	.menu::before {
		content: "";
		background-color: var(--colorBlack);
		position: fixed;
		inline-size: 100%;
		block-size: 4.375rem;
		inset-block-start: 0;
		inset-inline-start: 100%;
		transition: left 0.3s;
		z-index: 2;
	}

	.menu__list {
		flex-direction: column;
		row-gap: 1.875rem;

	}

	.menu__link {
		font-size: 1.75rem;
	}


	/* перетворення іконки на хрестик та вивод меню */
	[data-menu-open] .icon-menu span {
		width: 0;
	}

	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		inset-block-start: 50%;
	}

	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		inset-block-end: 50%;
		translate: 0 50%;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		inset-inline-start: 0;
	}
		[data-menu-open] body {
			overflow: hidden;
		}
}

.main--margin {
	margin-block-end: 5.75rem;
}
.about--margin{
	margin-block-end: 6.25rem;
}

.about__container{
	max-inline-size: 63.5rem;
	padding-inline: 0.9375rem;
margin-inline: auto;
}

.about__title {
	font-size: clamp(1.25rem, 4vw, 1.875rem);
	color: var(--colorBlack);
margin-block-end: 3.833em;
text-align: center;
}

.content-about {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-end: 8.4375rem;
	gap: 1.875rem;
}

.content-about__info {
	max-inline-size: 28.125rem;
	
}

.content-about__title {
	font-size: clamp(1rem, 4vw, 1.875rem);
	color: var(--colorBlack);
	margin-block-end: 1.166em;
}

.content-about__info p{
	font-size: clamp(0.75rem, 4vw, 1rem);
		color: var(--colorBlack);
}
.content-about__info p:first-of-type{
	margin-block-end: 2.187em;
}
.content-about__image {
	max-inline-size: 19.7994rem;
}

.content-about__image img{
	inline-size: 100%;
	block-size: 100%;
	aspect-ratio: 316.79 / 485;
	object-fit: cover;
}

.link {
	font-size: clamp(0.75rem, 4vw, 0.875rem);
		color: var(--colorBlack);
		border: 0.0625rem solid var(--colorBlack);
		padding-block: 0.625rem;
		padding-inline: 3.125rem;
		text-align: center;
/* max-inline-size: 8.125rem; */
inline-size: fit-content;
display: block;
margin-inline: auto;
transition: all 0.3s;
}
.link:hover{
	background-color: var(--colorBlack);
	color: var(--colorWhite);
}
@media (width <= 63.43em){
.about__title {
		margin-block-end: 1.91em;
	}
		.content-about {
			margin-block-end: 4.2187rem;
			gap: 0.9375rem;
		}
		.content-about__info{
			inline-size: 48%;
		
		}
}
@media (width < 37.5em){
.content-about{
	flex-wrap: wrap;
	justify-content: center;
	gap: 1.25rem;
}
.content-about__info {
	flex-grow: 1;
}
.content-about__image {
	flex-grow: 1;
}
.content-about {
	margin-block-end: 2.1093rem;
}
		.header--margin {
			margin-block-end: 2.625rem;
		}
				.about--margin {
					margin-block-end: 3.125rem;
				}
}
.cosmetics__container {
	max-inline-size: 63.5rem;
	padding-inline: 0.9375rem;
	margin-inline: auto;
		padding-block-start: 3.9375rem;
			border-block-start: 0.0625rem solid var(--colorBlack);
		border-block-end: 0.0625rem solid var(--colorBlack);

}

.cosmetics__title {
	font-size: clamp(1.25rem, 4vw, 2.25rem);
	color: var(--colorBlack);
	margin-block-end: 1.9375rem;
	text-align: center;
}
.list-cosmetics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.375rem;
	text-align: center;
	margin-block-end: 6.3125rem;
}
.list-cosmetics__link {
	font-size: clamp(0.75rem, 4vw, 1rem);
		color: var(--colorBlack);
}
.list-cosmetics__link:hover{
	text-decoration: underline;
	text-underline-offset: 0.5625rem;
}
.cards {
	max-inline-size: 50.875rem;
	padding-inline: 0.9375rem;
	margin-inline: auto;
	display: flex;
	flex-wrap: wrap;
	column-gap: 5.75rem;
	row-gap: 4.75rem;
	margin-block-end: 9.0625rem;
}

.cards__item {
	max-inline-size: 12.5rem;
	transition: all 0.3s;
	
}
.item:hover{
	box-shadow: 0 0 0.3125rem 0.3125rem var(--colorGray2);
}
.item__image {
	max-inline-size: 12.5rem;
	margin-block-end: 1rem;
	display: block;
}

.item__image img{
inline-size: 100%;
block-size: 100%;
object-fit: cover;
aspect-ratio: 200 / 208.33;
}

.item__text {
	font-size: clamp(0.875rem, 4vw, 1.25rem);
		color: var(--colorBlack);
}
.link--cosmetics{
	margin-block-end: 7.3125rem;
}
@media (width <= 65.625em){
.cosmetics__container {
		padding-block-start: 1.9688rem;
}
.list-cosmetics {
	margin-block-end: 3.1563rem;
}
.cards {
	margin-block-end: 4.5313rem;
}
.link--cosmetics {
	margin-block-end: 3.5938rem;
}
}
@media (width < 52.81em){
.cards {
		column-gap: 2.875rem;
		row-gap: 2.375rem;
justify-content: center;
	}
}
@media (width < 47em) {
	.cards {
		column-gap: 1.4375rem;
		/* row-gap: 2.1875rem; */
	}
		.list-cosmetics {
			margin-block-end: 30px;
		}
				.cards {
					margin-block-end: 2.5rem;
				}
		
				.link--cosmetics {
					margin-block-end: 1.875rem;
				}
}
.footer{
background-color: var(--colorDarkgray);
padding-block-start: 2.8125rem;
padding-block-end: 1.4375rem;
}
.footer__container{
max-inline-size: 64.375rem;
padding-inline: 0.9375rem;
margin-inline: auto;
border-block-start: 0.0625rem solid var(--colorBright);
border-block-end: 0.0625rem solid var(--colorBright);
padding-block-start: 1.75rem;
padding-block-end: 2.0625rem;
display: flex;
justify-content: space-between;
margin-block-end: 1.25rem;
}

.company {
	padding-block-end: 2.125rem;
	min-inline-size: 14.875rem;
	padding-inline-end: 3.125rem;
	text-align: center;
	border-inline-end: 0.0625rem solid var(--colorBright);
}

.company__title {
	font-size: clamp(1rem, 4vw, 1.125rem);
	color: var(--colorWhite);
margin-block-end: 1.5rem;
}

.list-company {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

.list-company__link {
	font-size: 0.875rem;
		color: var(--colorWhite);
		transition: all 0.3s;
}
.list-company__link:hover{
	text-decoration: underline;
	color: var(--colorBright);
	text-underline-offset: 0.3125rem;
	
}

.location {
	justify-items: center;
	text-align: center;
}

.location__title {
	font-size: clamp(1rem, 4vw, 1.125rem);
		color: var(--colorWhite);
		margin-block-end: 1.5rem;
}

.location__address p{
	font-size: 0.875rem;
		color: var(--colorWhite);
		margin-block-end: 1.3125rem;
}
.location__address a{
	display: block;
	font-size: 0.875rem;
		color: var(--colorWhite);
		margin-block-end: 3.75rem;
		transition: all 0.3s;
}
.location__address a:hover{
	text-decoration: underline;
		color: var(--colorBright);
		text-underline-offset: 0.3125rem;
}
.location__address blockquote{
	font-size: clamp(1rem, 4vw, 1.125rem);
		color: var(--colorWhite);
}

.touch {
	min-inline-size: 16.3125rem;
	text-align: center;
	border-inline-start: 0.0625rem solid var(--colorBright);
}

.touch__title {
	font-size: clamp(1rem, 4vw, 1.125rem);
		color: var(--colorWhite);
		margin-block-end: 1.5rem;
}

.touch__address {
	font-size: 0.875rem;
		color: var(--colorWhite);
		margin-block-end: 1.1875rem;
}
.touch__address a{
	transition: all 0.3s;
}
.touch__address a:hover{
	text-decoration: underline;
		color: var(--colorBright);
		text-underline-offset: 0.3125rem;
}

.list-touch {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.list-touch__link {
	font-size: 0.875rem;
		color: var(--colorWhite);
}
.list-touch__link:hover{
	text-decoration: underline;
		color: var(--colorBright);
		text-underline-offset: 0.3125rem;
}

.basement__container{
	max-inline-size: 64.375rem;
	padding-inline: 0.9375rem;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: end;
}
.basement__title {
font-size: clamp(1rem, 4vw, 1.5rem);
	color: var(--colorWhite);
}

.basement__produced {
	font-size: clamp(0.75rem, 4vw, 0.875rem);
		color: var(--colorWhite);
}
@media(width <= 49.3em){
	.main--margin {
			margin-block-end: 2.875rem;
		}
}
@media(width <=42.5em){
	.footer__container{
		flex-direction: column;
		row-gap: 1.25rem;
		align-content: center;
	}
		.company {
			padding-block: 0.9375rem;
			min-inline-size: 14.875rem;
			padding-inline-end: 0;
			text-align: center;
			border: 0.0625rem solid var(--colorBright);
		}
		.location{
			padding-block: 0.9375rem;
			border: 0.0625rem solid var(--colorBright);
		}
				.touch {
				padding-block: 15px;
					border: 0.0625rem solid var(--colorBright);
				}
}