@import url("reset.css");
@import url("fonts.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,800);
body{
	font-family: Lato, sans-serif;
	
}
.header__container{
	max-width: 1422px;
	padding-inline: 15px;
	margin: 0 auto;
}
.footer__container {
	max-width: 1422px;
	padding-inline: 15px;
	margin: 0 auto;
}
/* Header */

.header__container {
	min-height: 164px;
	padding-block: 5px;
	display: flex;
	align-items: center;
	gap: 5rem;
	
}
.header__image-logo{
	width: 200px;
	max-width: none;
}
.header__search {
	flex-basis: 16.5rem;
}
.search-header {
	display: flex;
	
	border-bottom: 1px solid #7e7f7c;
}
.search-header__button {
	width: 15px;
	flex-shrink: 0;
	background: url(../img/icons/search.svg) left no-repeat;
}
.search-header__input {
	height: 43px;
	padding-inline: 0.9375rem;
}
.header__menu {
	flex-grow: 1;
}
.icon-menu {
	display: none;
}
.menu__list {
	display: flex;
	gap: 8px 44px;
	align-items: center;
	flex-wrap: wrap;
}
.menu__link,
.action-header__link {
	font-weight: 700;
	color: #2f302c;
	line-height: 1.25;
	font-size: 1rem;
}
.action-header {
	display: flex;
	gap: 2.75rem;
	
}
.action-header__link {
	padding-left: 1.375rem;
	/* Блочно-рядковий об'кт в середені  флекс-елемента має незрозумілу висоту, лікується наданням display: block;(Для себе підказка)*/
	display: block;
}

.action-header__link--love {
	background: url(../img/icons/vector1.svg) left center no-repeat;
}

.action-header__link--cart {
	background: url(../img/icons/vector2.svg) left center no-repeat;
}
@media (width <= 1422px) {
	.header__container {
		gap: 2.5rem;
		min-height: 7.5rem;
	}
	.menu__list,
	.action-header{
		gap: 8px 25px;
	}
	.menu__list{
		justify-content: center;
	}
}
@media (width <=1200px){
.header__search{
	flex-basis: 180px;
}
}
@media (width <= 992px) {
.header__container{
	min-height: 6.25rem;
	gap: 28px;
}
.header__logo{
	width: 2.3125rem;
	flex-shrink: 0;
	overflow: hidden;
}
.action-header,
.menu__list {
	gap: 8px 17px;
}
}
@media (width < 768px){
.header {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: white;
	}
	.header__container{
		min-height: 4.375rem;
	}
	/* стилізація іконки */
	.icon-menu,
	.header__action,
	.header__logo,
	.header__search{
		position: relative;
		z-index: 3;
	}
	.icon-menu{
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after{
		content: "";
background-color: #2f302c;
height: 2px;
width: 30px;
position: absolute;
right: 0;
transition: all 0.3s;
				}
	.icon-menu::before{
		top: 0;
}
.icon-menu::after{
	bottom: 0;
}
	.icon-menu span{
top: 50%;
translate: 0 -50%;
	}
	.menu{
		/* position: fixed; обов'язкове */
		position: fixed;
		width: 100%;
		height: 100%;
		left: 100%;
		top: 0;
		background-color: #f6f6f6;
		z-index: 1;
		padding: 120px 15px 30px 15px;
		/* overflow: auto; обов'язкове для прокрутки меню при його частковому невміщенню */
		overflow: auto;
		transition: left 0.3s;
	}
	/* .menu::before покривало-фон меню щоб меню не наїжало на шапку*/
	.menu::before{
		content: "";
		background-color: white;
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		z-index: 2;
	}
	.menu__list{
		flex-direction: column;
		row-gap: 30px;
		
	}
	.menu__link{
		font-size: 28px;
	}
	.header__search{
		flex-grow: 1;
	}
		.action-header__link {
			width: 25px;
			aspect-ratio: 1;
			padding-left: 0;
			font-size: 0;
			background-size: contain;
		}
		/* перетворення іконки на хрестик та вивод меню */
		[data-menu-open] .icon-menu span{
width: 0;
		}
				[data-menu-open] .icon-menu::before{
					rotate: -45deg;
					translate: 0 -50%;
					top: 50%;
				}
								[data-menu-open] .icon-menu::after {
									rotate: 45deg;
									bottom: 50%;
									translate: 0 50%;
								}
		[data-menu-open] .menu,
		[data-menu-open] .menu::before{
			left: 0;
		}
}
@media (width < 480px){
	.header__container{
		gap: 15px;
	}
.header__logo{
	width: 28px;
}
.header__image-logo{
	width: 154px;
}
.action-header{
	gap: 8px 15px;
}
.search-header{
	border-radius: 5px;
	border: 1px solid #2f302c;
}
.search-header__button{
	display: none;
}
.search-header__input{
	padding-inline: 5px;
	height: 33px;
}
}
.action-header__link:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 10px;
}
.menu__link:hover{
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 10px;
}
[class*="__input"]:hover::placeholder {
	color: black;
}
.search-header:hover{
	border-bottom: 1px solid #040404;
}

/* ---------------------------------- main ---------------------------------- */

.main--margin {
	margin-bottom: 6.25rem;
}

.main__container {
	max-width: 88.875rem;
		padding-inline: 0.9375rem;
		margin: 0 auto;
}

.block {
	background-color: cadetblue;
}

.block__container {
	max-width: 83.875rem;
	padding-inline: 0.9375rem;
	margin: 0 auto;
	padding-block: 3.125rem;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
grid-template-rows: 9.5rem 0.5rem 5.5rem 0.5rem 9.5rem 9.5rem 0.5rem 5.5rem 0.5rem 9.5rem;
column-gap: clamp(0.75rem, 3vw, 2rem);
row-gap: clamp(0.75rem, 3vw, 1.5rem);
}

.block__item {
	background-color: cadetblue;
	color: #f6f6f6;
	text-align: center;
	
}
.block__item img:nth-child(17n + 3),
.block__item img:nth-child(17n + 5),
.block__item img:nth-child(17n + 9),
.block__item img:nth-child(17n + 11),
.block__item img:nth-child(17n + 14),
.block__item img:nth-child(17n + 17) {
	aspect-ratio: 304 / 152;
}
.block__item img:nth-child(17n + 1),
.block__item img:nth-child(17n + 4),
.block__item img:nth-child(17n + 8),
.block__item img:nth-child(17n + 10),
.block__item img:nth-child(17n + 16) {
	aspect-ratio: 304 / 184;
}
.block__item img:nth-child(17n + 2),
.block__item img:nth-child(17n + 6),
.block__item img:nth-child(17n + 7),
.block__item img:nth-child(17n + 12),
.block__item img:nth-child(17n + 15) {
	aspect-ratio: 304 / 296;
}
.block__item img:nth-child(17n + 13) {
	aspect-ratio: 304 / 504;
}

.block__item:nth-child(17n + 3),
.block__item:nth-child(17n + 5),
.block__item:nth-child(17n + 9),
.block__item:nth-child(17n + 11),
.block__item:nth-child(17n + 14),
.block__item:nth-child(17n + 17){
max-height: 9.5rem;
}
.block__item:nth-child(17n + 1),
.block__item:nth-child(17n + 4),
.block__item:nth-child(17n + 8),
.block__item:nth-child(17n + 10),
.block__item:nth-child(17n + 16){
max-height: 11.5rem;
}
.block__item:nth-child(17n + 2),
.block__item:nth-child(17n + 6),
.block__item:nth-child(17n + 7),
.block__item:nth-child(17n + 12),
.block__item:nth-child(17n + 15) {
	max-height: 18.5rem;
}
.block__item:nth-child(17n + 13){
max-height: 31.5rem;
}

.block__item:nth-child(17n + 1),
.block__item:nth-child(17n + 4),
.block__item:nth-child(17n + 8),
.block__item:nth-child(17n + 10),
.block__item:nth-child(17n + 16){
	grid-row: span 2;
	
}
.block__item:nth-child(17n + 2),
.block__item:nth-child(17n + 5),
.block__item:nth-child(17n + 6),
.block__item:nth-child(17n + 7),
.block__item:nth-child(17n + 12),
.block__item:nth-child(17n + 14),
.block__item:nth-child(17n + 15){
	grid-row: span 3;
	
}
.block__item:nth-child(17n + 13){
grid-row: span 5;
}
.block__item img{
	max-width: 19rem;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
@media(width <= 69.6875rem){
.block__container{
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 9.5rem);
}
.block__item:nth-child(17n + 1),
.block__item:nth-child(17n + 2),
.block__item:nth-child(17n + 3),
.block__item:nth-child(17n + 4),
.block__item:nth-child(17n + 5),
.block__item:nth-child(17n + 6),
.block__item:nth-child(17n + 7),
.block__item:nth-child(17n + 8),
.block__item:nth-child(17n + 9),
.block__item:nth-child(17n + 10),
.block__item:nth-child(17n + 11),
.block__item:nth-child(17n + 12),
.block__item:nth-child(17n + 13),
.block__item:nth-child(17n + 14),
.block__item:nth-child(17n + 15),
.block__item:nth-child(17n + 16),
.block__item:nth-child(17n + 17){
max-height: 9.5rem;
	grid-row: span 1;
}
}
@media(width <=41.25rem){
.block__container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(width <=25.625rem) {
	.block__container {
		grid-template-columns: 1fr;
		padding-block: 1.25rem;
	}
}
/* -------------------------footer----------------------------- */
.footer__info{
	display: flex;
		column-gap: 7.5rem;
		row-gap: 1.25rem;
		align-items: flex-start;
		padding: 7rem 0 4.5rem 0;
		border-bottom: 1px solid #7e7f7c;
		border-top: 1px solid #7e7f7c;
}
.info-footer {
	display: flex;
	column-gap: 7.5rem;
	row-gap: 1.25rem;
	align-items: flex-start;
	padding: 7rem 0 4.5rem 0;
	border-bottom: 1px solid #7e7f7c;
	border-top: 1px solid #7e7f7c;
}

.info-footer__service {
	flex-basis: 16.125rem;
	
}

.info-footer__title {
	font-weight: 800;
	line-height: 1.75;
	font-size: clamp(16px, 2vw, 20px);
	color: #2f302c;
	margin-bottom: 1.75rem;
}
.info-footer p{
	font-weight: 500;
	line-height: 1.25;
	font-size: clamp(12px, 1.5vw, 16px);
	color: #7e7f7c;
margin-bottom: 1.75rem;
}
.info-footer p:last-of-type{
	margin-bottom: 0;
}
.info-footer__company {
	flex-basis: 16.125rem;
}

.info-footer__help {
	flex-basis: 16.125rem;
}

.info-footer__warranty {
	flex-basis: 16.125rem;
}
@media (width <= 1422px){
	.info-footer{
		padding: 3.5rem 0 2.25rem 0;
		
	}
}
@media (width <= 1150px) {
	.info-footer {
		column-gap: 3.75rem;

	}
}
@media (width <= 992px) {
	.info-footer {
		column-gap: 1.875rem;
	}
	.info-footer p{
		margin-bottom: 1rem;
	}
	.info-footer__title{
		margin-bottom: 1rem;
	}
}
@media (width <= 826px) {
	.info-footer {
		column-gap: 1.875rem;
	}
	.info-footer{
		column-gap: 0.9375rem;
	}
}
@media (width <= 780px){
[class*="info-footer__"]{
	flex-basis: 14.875rem;
}
}
@media (width <= 550px) {
.info-footer{
	flex-wrap: wrap;
	justify-content: center;
	padding: 2.25rem 0 1.625rem 0;
}
[class*="info-footer__"]{
	flex-basis: 12.375rem;
}
.info-footer p {
	margin-bottom: 0.625rem;
}

.info-footer__title {
	margin-bottom: 0.625rem;
}
}
.produced-footer {
	padding-block: 4.5rem;
	
}
.produced-footer__text p{
	text-wrap: balance;
	text-align: center;
}
.produced-footer__info {
	font-weight: 500;
	color: #7e7f7c;
	font-size: 1rem;
	line-height: 1.25;
display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.9375rem;
}

.produced-footer__action {
	display: flex;
	align-items: center;
	gap: 2.125rem;
}
.produced-footer__link{
	transition: all 0.3s;
}
.produced-footer__link:hover img{
	transform: scale(1.3);
}
@media (width <=1422px){
	.produced-footer{
padding-block: 2.25rem;
	}
}
@media (width <=600px){
	.produced-footer__action{
		gap: 1.0625rem;
	}
				.produced-footer {
					padding-block: 1.25rem;
				}
}
@media (width <=527px){
	.produced-footer__info{
		flex-wrap: wrap;
		justify-content: center;
	}
}
@media (width <=440px){
	.info-footer{
		text-align: center;
	}
}